<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <a href="#/clothes">
                <p class="category-name">Clothes</p>
                <img id="clothesCategory" class="thumbnail category-img" src="img/categories/clothesCategory.jpg" />
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#/shoes">
                <p class="category-name">Shoes</p>
                <img id="shoesCategory" class="thumbnail category-img" src="img/categories/shoesCategory.jpg"/>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#/hats">
                <p class="category-name">Hats</p>
                <img id="hatsCategory" class="thumbnail category-img" src="img/categories/hatsCategory.jpg" />
            </a>
        </div>
    </div>
</div>