<div class="slide-container">
    <h3>Dare to wear our unique combinations?</h3><br>

    <ul class="bxslider">
        <li>
            <img class="home-page-image" src="img/home/homeImage1.jpg"/>
        </li>
        <li>
            <img class="home-page-image" src="img/home/homeImage2.jpg"/>
        </li>
        <li>
            <img class="home-page-image" src="img/home/homeImage3.jpg"/>
        </li>
    </ul>
</div>

<script>
    $('.bxslider').bxSlider({
        mode: 'fade',
        captions: true,
        auto: true
    });
</script>