<section class="cover fullscreen image-bg overlay">
                <div class="container v-align-transform">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
                            <div class="feature bordered text-center">
                                <h4 class="uppercase">Login Here</h4>
                                <form class="text-left">
                                    <input id="tb-username" class="mb0" type="text" placeholder="Username" />
                                    <input id="tb-password" class="mb0" type="password" placeholder="Password" />
                                    <input id="btn-login" type="submit" value="Login" />
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
</section>