<div class="jumbotron order-accepted">
    <div>
        <h3>Order accepted!</h3>
        <p>Your order has been received. Thank you for your purchase!</p>
        <p>Our representative will contact you for further details.</p>
    </div>
</div>
