<section class="cover fullscreen image-bg overlay">
                <div class="container v-align-transform">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="feature bordered text-center">
                                <h4 class="uppercase">Register Here</h4>
                                <form class="text-left">
                                    <input id="tb-username" type="text" name="name" placeholder="Username" />
                                    <input id="tb-password" type="password" placeholder="Password" />
                                    <input id="btn-register" type="submit" value="Register" />
                                </form>
                                <p class="mb0">By signing up, you agree to our
                                    <a href="#">Terms Of Use</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>