body {
    width:550px;
    margin:0;
    padding:0;
    color:#686868;
    font-family:Arial;
    font-size:14px;
}

header {
    padding-left: 27px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.5em;
    background-color: #EEEEEE;
    border-top: 1px solid #f1f0f0;
    border-left: 1px solid #f1f0f0;
    border-right: 1px solid #f1f0f0;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
}

body header, section{
    background-color:#EEEEEE;
}

article{
    padding:10px;
    margin:auto;
    border:1px solid #999999;
    background:white no-repeat;
    width:470px;
    height:130px;
}

article:nth-child(2n+2){
    margin-top:30px;
}

article:last-child {
    margin-top:30px;
    margin-bottom:10px;
}

.button1{
    background:url('images/listen_button.png') no-repeat;
    width:75px;
    height:27px;
}

.button2{
    background:url('images/add_button.png') no-repeat;
    width:50px;
    height:27px;
}

.button1, .button2{
    display:inline-block;
    float:right;
    margin-top:55px;
    margin-bottom:10px;
}

img{
    width:180px;
    height:110px;
    float:left;
    margin-right:10px;
}

img span{
    display:inline-block;
}

.clearfix{
    zoom:1;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}

.content{
    text-align:justify;
}

section{
    border-bottom: 1px solid #f1f0f0;
    border-left: 1px solid #f1f0f0;
    border-right: 1px solid #f1f0f0;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
}