<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    <remove invariant="lcpi.data.oledb" /><add name="LCPI OleDb Data Provider" invariant="lcpi.data.oledb" description="LCPI .NET Data Provider for OLE DB" type="lcpi.data.oledb.OleDbFactory, lcpi.data.oledb.net4_5, Version=1.0.1.2490, Culture=neutral, PublicKeyToken=ff716095e8002e7e" /></DbProviderFactories>
  </system.data></configuration>