body {
    padding:0;
    margin:0;
    font-family:Corbel;
    font-size:18px;
}

.container{
    padding:5px;
    margin:5px;
    border:1px solid black;
    border-radius:5px;
    float:left;
    width:700px;
}

body nav{
    padding-top:10px;
    padding-left:150px;
    padding-bottom:10px;
}

ul{
    margin:0;
    padding:0;
    list-style:none;
}

body nav ul li{
    display:inline-block;
}

body nav ul a{
    color:#4EC7F4;
    font-weight:bold;
}

section{
    float:left;
    width:450px;
    padding:10px;
}

img{
    width:100px;
    height:70px;
}

.table {
    padding:5px;
    padding-right:-5px;
    display: table;
    margin:5px;
    border: 1px solid black;
}

.table-row {
    float:left;
    display: table-row;
}
.table-cell {
    display: table-cell;
    width:220px;
}

span img{
    float:left;
}

.clearfix{
    zoom:1;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}
aside{
    float:left;
    padding-top:20px;
    padding-left:30px;
    font-size:20px;
}
