table, td, th{
    border-spacing:0;
    padding:5px;
    border-collapse:collapse;
    border:1px solid black;
}

th{
    align-items:center;
}

.headings{
    width:300px
}

.headings1{
    width:80px,80px, 150px
}

.headings2{
    width:60px
}

.total{
    text-align:center
}